<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      tr, td, th
      {
        border: solid 1px black;
      }
    </style>
  </head>
  <body>
    <h3><%= title %></h3>
    <table>
        <tr>
          <th>Field Name</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= name %></td><!-- Puts name: where <%= name %> is -->
        </tr>
    </table>
  </body>
</html>
