<!DOCTYPE html>
<html>
  <head>
    <style>a{font-size: 400%;font-family: sans-serif;}</style>
  </head>
  <body>
    <a href="/post">Form Retrieval by POST</a>
    <!-- This is a link to post.ejs -->
  </body>
</html>
