<!DOCTYPE html>
<html>
<head>
	<title>POST</title>
</head>
<body>
	<div class="layout">
		Step 1: Your details
		<form action="/submitForm" name="form" method="POST">
			<div class="set">Name<input type="text" name="name" class='left' placeholder=" First and last name" value=""></div>
			<input type="submit" class='butt' value="BUY IT!"><!-- Submitting will send the post request -->
		</form>
	</div>
</body>
</html>
